# Anchor build artifacts
.anchor
target
**/*.rs.bk
.DS_Store

# Node modules
node_modules
.env

# Build artifacts
build
dist

# Test artifacts
.coverage_artifacts
.coverage_cache
.coverage_reports

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Test keypairs
**/keypairs/

# Bun
bun.lockb 